<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="URNA" 
         connectionString="Server=localhost;Database=Urna_local;User Id=sa;Password=Crescer$5;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>